<div class="card-container">
  <div class="card">
    <form (submit)="submit()">
      <label for="login">Login</label>
      <input id="login" type="text">
      <label for="password">Password</label>
      <input id="password" type="password">
      <label for="confirm-password">Confirm password</label>
      <input id="confirm-password" type="password">
      <label for="email">Email</label>
      <input id="email" type="email">
      <button type="submit">Register</button>
      <button>Cancel</button>
    </form>
  </div>
</div>
