textarea {
  resize: none;
}

label {
  margin-right: 20px;
}

.title {
  font-size: 30px;
}

.container {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.md-container, textarea {
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 4px;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.active {
  color: cornflowerblue;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.password-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  & > label {
    text-align: right;
  }
}

ul {
  padding: 0;
}

.scope-container {
  margin: 20px 0;
}

.password {
  width: 150px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

em {
  color: red;
  grid-column: span 2;
  text-align: center;
}
